<html>
<head>
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
</head>
<body>
<h1> Hello socket </h1>
<input type="text" name="msg" id="msg"><br>
<button type="submit" onclick="SendNotif()">Envoyer</button>

<script src="/js/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    //Demander handshake
    var socket = io();

    function SendNotif() {
        var message = document.getElementById('msg').value;
        if (message.trim !== '') {
            socket.emit('send-notification', message);
        }
    }

    socket.on('new-notification', (content) => {
        console.log(content);
        alert(content, "New notification !!!");
    });

    socket.on('message', function (data) {
        console.log(data);
        $('body').append('<p>' + data + '</p>')
    })
</script>
</body>
</html>
